<form method="POST" action="{{url_for('router.category.updateCategory', id=category.id)}}">
  <div class="row">
    <div class="col-sm-6">
      <label class="form-label">Descrição da Categoria</label>
      <input type="text" class="form-control" name="description" value="{{category.description}}"><br>
      <label class="form-label">Status</label>
      <input type="text" class="form-control" name="status" value="{{category.status}}"><br>     
      <hr>        
        <button type="submit" name="bt1" value="1" class="btn btn-secondary">Cadastrar</button>
    </div>
  </div>
  <hr> 
</div>
</form>